node_modules/
.expo
%ProgramData%/
node_modules\@expo
node_modules/@expo
node_modules/*
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebViewManager.cpp
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebViewHelpers.h
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebViewHelpers.cpp
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView2Manager.cpp
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView2.h
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView2.cpp
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView.idl
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView.h
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView.cpp
node_modules/react-native-webview/windows/ReactNativeWebView/ReactNativeWebView.vcxproj
node_modules/react-native-webview/windows/ReactNativeWebView/pch.h
node_modules/react-native-webview/windows/ReactNativeWebView/packages.config
node_modules/react-native-webview/windows/ReactNativeWebView.sln
node_modules/react-native-webview/src/WebViewTypes.ts
node_modules/react-native-webview/src/WebViewShared.tsx
node_modules/react-native-webview/src/WebView.windows.tsx
node_modules/react-native-webview/src/WebView.ios.tsx
node_modules/react-native-webview/src/RNCWebViewNativeComponent.ts
node_modules/react-native-webview/src/__tests__/WebViewShared-test.js
node_modules/react-native-webview/package.json
node_modules/react-native-webview/lib/WebViewTypes.d.ts.map
node_modules/react-native-webview/lib/WebViewTypes.d.ts
node_modules/react-native-webview/lib/WebViewShared.js
node_modules/react-native-webview/lib/WebViewShared.d.ts.map
node_modules/react-native-webview/lib/WebView.windows.js
node_modules/react-native-webview/lib/WebView.windows.d.ts.map
node_modules/react-native-webview/lib/WebView.ios.js
node_modules/react-native-webview/lib/WebView.ios.d.ts.map
node_modules/react-native-webview/lib/RNCWebViewNativeComponent.d.ts.map
node_modules/react-native-webview/lib/RNCWebViewNativeComponent.d.ts
node_modules/react-native-webview/apple/RNCWebViewManager.mm
node_modules/react-native-webview/apple/RNCWebViewImpl.m
node_modules/react-native-webview/apple/RNCWebViewImpl.h
node_modules/react-native-webview/apple/RNCWebView.mm
node_modules/react-native-webview/apple/RNCWebView.h
node_modules/react-native-webview/android/src/oldarch/com/reactnativecommunity/webview/RNCWebViewManager.java
node_modules/react-native-webview/android/build.gradle
node_modules/expo/package.json
node_modules/expo/bundledNativeModules.json
node_modules/expo/build/launch/registerRootComponent.js.map
node_modules/expo/build/launch/registerRootComponent.d.ts.map
node_modules/expo/build/launch/registerRootComponent.d.ts
node_modules/expo/build/devtools/index.js.map
node_modules/expo/build/devtools/index.js
node_modules/expo/build/devtools/index.d.ts.map
node_modules/expo/build/devtools/index.d.ts
node_modules/expo/android/build.gradle
node_modules/expo-modules-core/package.json
node_modules/expo-modules-core/CHANGELOG.md
node_modules/expo-modules-core/android/src/main/java/expo/modules/interfaces/barcodescanner/BarCodeScannerResult.java
node_modules/expo-modules-core/android/build.gradle
node_modules/expo-font/plugin/src/withFontsAndroid.ts
node_modules/expo-font/plugin/src/utils.ts
node_modules/expo-font/plugin/build/withFontsAndroid.js
node_modules/expo-font/plugin/build/utils.js
node_modules/expo-font/package.json
node_modules/expo-font/CHANGELOG.md
node_modules/expo-font/android/build.gradle
node_modules/expo-file-system/package.json
node_modules/expo-file-system/ios/FileSystemModule.swift
node_modules/expo-file-system/ios/FileSystemHelpers.swift
node_modules/expo-file-system/ios/FileSystemExceptions.swift
node_modules/expo-file-system/CHANGELOG.md
node_modules/expo-file-system/android/build.gradle
node_modules/@expo/metro-config/package.json
node_modules/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
node_modules/@expo/metro-config/build/transform-worker/metro-transform-worker.js
node_modules/@expo/metro-config/build/serializer/withExpoSerializers.js.map
node_modules/@expo/metro-config/build/serializer/withExpoSerializers.js
node_modules/@expo/metro-config/build/serializer/serializeChunks.js.map
node_modules/@expo/metro-config/build/serializer/serializeChunks.js
node_modules/@expo/metro-config/build/serializer/serializeChunks.d.ts
node_modules/@expo/metro-config/build/serializer/fork/baseJSBundle.js.map
node_modules/@expo/metro-config/build/serializer/fork/baseJSBundle.d.ts
node_modules/@expo/metro-config/build/rewriteRequestUrl.js.map
node_modules/@expo/metro-config/build/rewriteRequestUrl.js
node_modules/@expo/cli/package.json
node_modules/@expo/cli/build/src/utils/analytics/rudderstackClient.js
node_modules/@expo/cli/build/src/start/server/serverLogLikeMetro.js.map
node_modules/@expo/cli/build/src/start/server/middleware/metroOptions.js.map
node_modules/@expo/cli/build/src/start/server/middleware/metroOptions.js
node_modules/@expo/cli/build/src/start/server/middleware/ManifestMiddleware.js.map
node_modules/@expo/cli/build/src/start/server/middleware/ManifestMiddleware.js
node_modules/@expo/cli/build/src/start/server/metro/MetroBundlerDevServer.js.map
node_modules/@expo/cli/build/src/start/server/metro/MetroBundlerDevServer.js
node_modules/@expo/cli/build/src/start/server/getStaticRenderFunctions.js.map
node_modules/@expo/cli/build/src/start/server/getStaticRenderFunctions.js
node_modules/@expo/cli/build/src/export/saveAssets.js.map
node_modules/@expo/cli/build/src/export/saveAssets.js
node_modules/@expo/cli/build/src/export/resolveOptions.js.map
node_modules/@expo/cli/build/src/export/resolveOptions.js
node_modules/@expo/cli/build/src/export/index.js.map
node_modules/@expo/cli/build/src/export/index.js
node_modules/@expo/cli/build/src/export/fork-bundleAsync.js.map
node_modules/@expo/cli/build/src/export/fork-bundleAsync.js
node_modules/@expo/cli/build/src/export/exportApp.js.map
node_modules/@expo/cli/build/src/export/exportApp.js
node_modules/@expo/cli/build/src/export/embed/exportEmbedAsync.js.map
node_modules/@expo/cli/build/src/export/embed/exportEmbedAsync.js
node_modules/@expo/cli/build/bin/cli
node_modules/.package-lock.json
node_modules/.package-lock.json
node_modules/@expo/cli/build/bin/cli
node_modules/@expo/cli/build/src/export/embed/exportEmbedAsync.js
node_modules/@expo/cli/build/src/export/embed/exportEmbedAsync.js.map
node_modules/@expo/cli/build/src/export/exportApp.js
node_modules/@expo/cli/build/src/export/exportApp.js.map
node_modules/@expo/cli/build/src/export/fork-bundleAsync.js
node_modules/@expo/cli/build/src/export/fork-bundleAsync.js.map
node_modules/@expo/cli/build/src/export/index.js
node_modules/@expo/cli/build/src/export/index.js.map
node_modules/@expo/cli/build/src/export/resolveOptions.js
node_modules/@expo/cli/build/src/export/resolveOptions.js.map
node_modules/@expo/cli/build/src/export/saveAssets.js
node_modules/@expo/cli/build/src/export/saveAssets.js.map
node_modules/@expo/cli/build/src/start/server/getStaticRenderFunctions.js
node_modules/@expo/cli/build/src/start/server/getStaticRenderFunctions.js.map
node_modules/@expo/cli/build/src/start/server/metro/MetroBundlerDevServer.js
node_modules/@expo/cli/build/src/start/server/metro/MetroBundlerDevServer.js.map
node_modules/@expo/cli/build/src/start/server/middleware/ManifestMiddleware.js
node_modules/@expo/cli/build/src/start/server/middleware/ManifestMiddleware.js.map
node_modules/@expo/cli/build/src/start/server/middleware/metroOptions.js
node_modules/@expo/cli/build/src/start/server/middleware/metroOptions.js.map
node_modules/@expo/cli/build/src/start/server/serverLogLikeMetro.js.map
node_modules/@expo/cli/build/src/utils/analytics/rudderstackClient.js
node_modules/@expo/cli/package.json
node_modules/@expo/metro-config/build/rewriteRequestUrl.js
node_modules/@expo/metro-config/build/rewriteRequestUrl.js.map
node_modules/@expo/metro-config/build/serializer/fork/baseJSBundle.d.ts
node_modules/@expo/metro-config/build/serializer/fork/baseJSBundle.js.map
node_modules/@expo/metro-config/build/serializer/serializeChunks.d.ts
node_modules/@expo/metro-config/build/serializer/serializeChunks.js
node_modules/@expo/metro-config/build/serializer/serializeChunks.js.map
node_modules/@expo/metro-config/build/serializer/withExpoSerializers.js
node_modules/@expo/metro-config/build/serializer/withExpoSerializers.js.map
node_modules/@expo/metro-config/build/transform-worker/metro-transform-worker.js
node_modules/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
node_modules/@expo/metro-config/package.json
node_modules/expo-file-system/android/build.gradle
node_modules/expo-file-system/CHANGELOG.md
node_modules/expo-file-system/ios/FileSystemExceptions.swift
node_modules/expo-file-system/ios/FileSystemHelpers.swift
node_modules/expo-file-system/ios/FileSystemModule.swift
node_modules/expo-file-system/package.json
node_modules/expo-font/android/build.gradle
node_modules/expo-font/CHANGELOG.md
node_modules/expo-font/package.json
node_modules/expo-font/plugin/build/utils.js
node_modules/expo-font/plugin/build/withFontsAndroid.js
node_modules/expo-font/plugin/src/utils.ts
node_modules/expo-font/plugin/src/withFontsAndroid.ts
node_modules/expo-modules-core/android/build.gradle
node_modules/expo-modules-core/android/src/main/java/expo/modules/interfaces/barcodescanner/BarCodeScannerResult.java
node_modules/expo-modules-core/CHANGELOG.md
node_modules/expo-modules-core/package.json
node_modules/expo/android/build.gradle
node_modules/expo/build/devtools/index.d.ts
node_modules/expo/build/devtools/index.d.ts.map
node_modules/expo/build/devtools/index.js
node_modules/expo/build/devtools/index.js.map
node_modules/expo/build/launch/registerRootComponent.d.ts
node_modules/expo/build/launch/registerRootComponent.d.ts.map
node_modules/expo/build/launch/registerRootComponent.js.map
node_modules/expo/bundledNativeModules.json
node_modules/expo/package.json
node_modules/react-native-webview/android/build.gradle
node_modules/react-native-webview/android/src/oldarch/com/reactnativecommunity/webview/RNCWebViewManager.java
node_modules/react-native-webview/apple/RNCWebView.h
node_modules/react-native-webview/apple/RNCWebView.mm
node_modules/react-native-webview/apple/RNCWebViewImpl.h
node_modules/react-native-webview/apple/RNCWebViewImpl.m
node_modules/react-native-webview/apple/RNCWebViewManager.mm
node_modules/react-native-webview/lib/RNCWebViewNativeComponent.d.ts
node_modules/react-native-webview/lib/WebView.ios.js
node_modules/react-native-webview/lib/WebView.windows.js
node_modules/react-native-webview/lib/WebViewShared.js
node_modules/react-native-webview/lib/WebViewTypes.d.ts
node_modules/react-native-webview/package.json
node_modules/react-native-webview/src/__tests__/WebViewShared-test.js
node_modules/react-native-webview/src/RNCWebViewNativeComponent.ts
node_modules/react-native-webview/src/WebView.ios.tsx
node_modules/react-native-webview/src/WebView.windows.tsx
node_modules/react-native-webview/src/WebViewShared.tsx
node_modules/react-native-webview/src/WebViewTypes.ts
node_modules/react-native-webview/windows/ReactNativeWebView/packages.config
node_modules/react-native-webview/windows/ReactNativeWebView/pch.h
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView.cpp
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView.h
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView2.cpp
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView2.h
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebView2Manager.cpp
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebViewHelpers.cpp
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebViewHelpers.h
node_modules/react-native-webview/windows/ReactNativeWebView/ReactWebViewManager.cpp
package-lock.json
